
.anim-delay-500ms   { 
    animation: fadeIn 0.5s ;
}
.anim-delay-1000ms  { 
    animation: fadeIn 1s ;
}

.anim-delay-1500ms  { 
    animation: fadeIn 1.5s ;
}
.anim-delay-2000ms  { 
    animation: fadeIn 2s ;
}

@keyframes fadeIn{
	from {opacity: 0; transform: translateY(100%);}
	to {opacity: 1; transform: translateY(0%);}
}

.extraData-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 5em;
}

.types-container > img{
    margin-left: 1em;
}

.names-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*.names-container p{
    animation: fadeIn 0.5s ;
}*/

.names-container p{
    margin-right: 2em;
    padding: 1em 3em;
    color: white;
    font-size: 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
    letter-spacing: 0.05em;
    text-align: center;
    outline: none;
    border: none;
    margin-top: 0;
    background-color: #939494;
}


.names-container p:hover{
    background-color: #575757;
    transition: 0.5s;
}

@media screen and (max-width: 1200px){
    .names-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .names-container p {
        font-size: 9px;
    }
}
