.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 5em;
}

.news-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    flex-wrap: wrap;
}

#gyarados{
    width: 260px;
}

.news-div{
    background-color:#dadada;
}

.filters-container{
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    margin: auto;
    justify-content: center;
    margin-bottom: 2em;
}

.filters-container div{
    margin-right: 5em;
}

@media screen and (max-width: 1200px){
    
    .filters-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    .filters-container div{
        margin-right: 0px;
    }

    .filters-container > div{
        margin-bottom: 10px;
    }

}