
.pkm-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    flex-wrap: wrap;
  }

.dex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 5em;
}

.filters-container{
  display: flex;
  flex-direction: row;
  max-width: 1170px;
  margin: auto;
  justify-content: center;
  margin-bottom: 2em;
}

.filters-container div{
  margin-right: 5em;
}

@media screen and (max-width: 1200px){
  .pkm-cards{
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width:640px){

}
